title 
{font-family: 'Times New Roman', Times, serif  ;
font-size: 0.5cm;}
#parrafo {
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}
#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
}